
header{
	background-image: url(images/courtbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: all;
	height: 700px;
}
nav{
	background-color: #e03145;
}
nav .row .col:hover{
	background-color: #ff6d7e;
}
img{
	width: 100%;
}
h1{
	color: #98389B;
	text-align: center;
}
h2 { background-color: yellow;
}
h3 { color: blue;
	 text-align: right; 
	font-family: "Comic Sans MS", cursive, sans-serif;}
p{ background-color: green; color: white;  }	
